h1 Tính diện tích tam giác
form(action="/tam_giac" method="GET")
    | Cạnh A
    input(name="canhA" type="text")
    br
    br
    | Cạnh B
    input(name="canhB" type="text")
    br
    br
    | Cạnh C
    input(name="canhC" type="text")
    br
    br
    button(type="submit") Submit
p Diện tích: #{result}
p Cảnh báo: #{err}