h1 Toán Học thầy Chung
form(action="/toan_hoc" method="GET")
    | Chiều dài
    input(name="height" type='text')
    br
    br
    | Chiều rộng
    input(name="width" type='text')
    br
    br
    button(type="submit") Submit
p Diện tích: #{result}
p Cảnh báo: #{err}