
extends ../layouts/kemmie.pug

block content
        h1 User List
        h5 console.log
        h5 nắm rõ luồng nó đi từ đâu sang đâu
        h5 đọc lỗi cẩn thận để tìm nhanh
        h5 không biết gì thì search http://www.google.com/

        form(action="/users/search", method="GET")
            input(class="form-control" type="text", name="q")
            button Search
        br
        br
        table.table
            tr
                th Name
                th Phone
                th Email
                th Password
                th Action


            each user in users
                tr
                    td=user.name
                    td=user.phone
                    td=user.email
                    td=user.password
                    td
                        a.btn.btn-light(href="/users/" + user.id) View
                        a.btn.btn-danger(href="/users/update/" + user.id) Update
                        a.btn.btn-primary(href="/users/delete/" + user.id) Delete

        a(class="btn btn-primary" href="/users/create") Create
        a(class="btn btn-danger" href="/auth/login") Login